body{
  font-family: Meiryo, "メイリオ", "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif !important;
  padding: 8px;
}
body ons-page{
  font-family: Meiryo, "メイリオ", "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif !important;
}
body a{
  font-family: Meiryo !important;
}

#h-head-toolbar h2{
  margin: auto auto auto 4px;
  font-size: 28px;
}
ons-page{
  margin: 56px 2px 36px 2px;
}
.fontsize-small{
  font-size: 60%;
}

.heading {
  padding: 0.2em 0.5em !important;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 6px #009688;/*左線*/
  border-bottom: solid 2px #007668;/*下線*/
}
.sub-heading {
  padding: 0.2em 0.5em !important;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 4px #19B6A8;/*左線*/
}
.label {
  padding: 0.1em 0.1em !important;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-bottom: solid 1px #19B6A8;/*左線*/
}

.home-button{
  height: 128px;
  width: 50%;
  margin: 4px 0;
  text-align: center;
  padding-top: 32px;
  background-color: #fdfdfd;
  color: #009688;
  border: solid 2px #009688;
}
.home-button-wide{
  width: 100%;
}

.list > .list-item > div > span{
  width: 50%;
}
ul.list > li.list-item{
  text-decoration: none;
}
ul > li .sep-main{
   width: 80%;
   display: inline-block;
}

#h-head-toolbar{
}

#initial-screen{
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}
#initial-screen > div{
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
#initial-screen > div > span{
  vertical-align: top;
  font-size: 32px;
}

#h-disp-condition-wrapper .segment{
  width: 100%;
}

.large-button-wrapper{
  margin-top: 2px;
  margin-bottom: 2px;
}
.large-button-wrapper > .button{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

#h-search-conditions-wrapper{
  margin-bottom: 8px;
}
#h-search-conditions-wrapper > ons-row{
  border-bottom: dotted 1px #00C6B8;
  padding: 2px;
}

.h-user-skill-row{
}
.h-user-skill-row-parent{
  background-color: #fff;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.h-user-skill-row-parent > div{
  vertical-align: top;
}
.h-user-skill-row-parent > div > a{
  font-size: 120%;
}

.sks-skill-level-text{
  width: 36px;
}

#h-foot-toolbar{
  background-color: #009688;
  height: 36px;
}
#h-foot-toolbar > div{
  text-align: center;
}
#h-foot-toolbar p{
  font-size: 70%;
  color: #fff;
  margin: 4px 16px;
}

@media screen and (min-width:480px) {
  .large-button-wrapper > .button{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #h-disp-condition-wrapper .segment{
    width: 100%;
  }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
  .large-button-wrapper > .button{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #h-disp-condition-wrapper .segment{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (min-width:1024px) {
  .large-button-wrapper > .button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  #h-disp-condition-wrapper .segment{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
