<ons-page id="home-wrapper" ng-init="home_init()" style="margin-top: 64px">

  <style>
  #home-wrapper > .button{
    height: 128px;
    width: 49.6%;
    margin: 4px 0;
  }
  #home-wrapper > .button.large{
    width: 100%;
  }
  </style>

  <div id="home-wrapper">

    <button class="button button--material large" ng-click="move2Head()" >
      <ons-icon icon="search" size="32px" style="color: #fff"></ons-icon>検索する
    </button>

    <button class="button button--material" ng-click="move2SkillSheet()">
      <ons-icon icon="question-circle" size="32px" style="color: #fff"></ons-icon>スキルシートを照会する
    </button>

    <button class="button button--material">
      <ons-icon icon="question-circle" size="32px" style="color: #fff"></ons-icon>スキルシートを登録する
    </button>

  </div>

</ons-page>
