<ons-page id="home-wrapper" ng-init="home_init()" style="margin-top: 64px">

  <style>
  #home-wrapper > .button{
    height: 128px;
    width: 49.6%;
    margin: 4px 0;
  }
  #home-wrapper > .button.large{
    width: 100%;
  }
  </style>

  <div id="home-wrapper">

    <button class="button button--material large" ng-click="move2Head()" >
      <ons-icon icon="search" size="32px" style="color: #fff"></ons-icon>検索する
    </button>

    <button class="button button--material" ng-click="move2SkillSheet()">
      <ons-icon icon="question-circle" size="32px" style="color: #fff"></ons-icon>スキルシートを照会する
    </button>

    <button class="button button--material">
      <ons-icon icon="question-circle" size="32px" style="color: #fff"></ons-icon>スキルシートを登録する
    </button>

    <p>
      下の2個のボタンの、まぁ、登録側の画面を作ってみてね。
    </p>
    <p>
      ほんまさんの要件(雰囲気)としては、スキルセットの一覧をExcelじゃなくて画面でバシバシ叩けるように、的な？感じだったんで、それを実現できるようなかんじで。
    </p>

    <p>
      登録処理自体は、さいとうくんの環境からでは作れない(apache + php + mysqlないと...ね)</br>なんで、とりあえずはフロントエンドで入力画面を作ってください。</br>
      当たり前だけれど、Angularの仕組みにのっとって、スキルリストは、Serviceから取得する、という想定のモックをつくっておいてください。
    </p>
  </div>

</ons-page>
