<ons-page ng-controller="HeaderController" ng-init="h_init()">

  <div id="h-wrapper">
    <div id="h-conditions-wrapper" ng-hide="type=='S'">
      <h3 class="heading">検索条件</h3>

      <ons-row id="h-search-conditions-wrapper">

        <ons-col id="h-search-conditions-user">
          <h4 class="sub-heading">社員から探す</h4>
            <label>
              社員ID
              <input id="h-search-condition-user_id" ng-model="search_conditions.user_id" />
            </label>
        </ons-col>

        <ons-col id="h-search-conditions-skill">
          <h4>スキルから探す</h4>

          <label>
            スキルリスト<span class="fontsize-small">(FirefoxNG)</span>
            <input list="h-search-condition-skill_list" ng-model="search_conditions.skill_id" />
          </label>
          <datalist id="h-search-condition-skill_list">
            <option ng-repeat="item in select_lists.skill_single" value="{{item.id}}">
              {{item.name}}
            </option>
          </datalist>

          <label>
            レベル
            <input id="h-search-condition-skill_level" type="number" min="0" max="4" ng-model="search_conditions.skill_level" />
          </label>
        </ons-col>
      </ons-row>

      <div id="h-search-button-wrapper">
        <ons-button modifier="large" ng-click="getSkillSet()">Search</ons-button>
      </div>

      <div id="h-disp-condition-wrapper">
        <h3 class="heading">結果表示タイプ</h3>

        <ons-row>
          <ons-col class="button-bar__item">
            <input type="radio" class="segment__input" name="h-disp-condition" value="0" ng-model="disp_condition" ng-change="changeDispType()" />
            <div class="segment__button">とりあえず列挙</div>
          </ons-col>
            <ons-col class="segment__item">
              <input type="radio" class="segment__input" name="h-disp-condition" value="1" ng-model="disp_condition" ng-change="changeDispType()" />
              <div class="segment__button">社員ベースで保有するスキルを表示</div>
            </ons-col>
            <ons-col class="segment__item">
              <input type="radio" class="segment__input" name="h-disp-condition" value="2" ng-model="disp_condition" ng-change="changeDispType()" />
              <div class="segment__button">スキルベースで扱える社員を表示</div>
            </ons-col>
        </ons-row>
      </div>
    </div>

    <div id="h-user-skill-wrapper">

      <h3 class="heading">結果リスト</h3>

      <ons-row ng-repeat="(key, item) in items_key track by $index" ng-hide="disp_condition==0">

        <ons-col>
          <a href="javascript:void(0)" ng-click="move2Detail(disp_condition==1 ? 'U' : 'S', key)">
            <span class="fontsize-small">{{key}}</span>:{{mainkey_conv_hash[key]["name"]}}
          </a>
        </ons-col>

        <ons-col>
          <ul>
            <li ng-repeat="id in item track by $index">
              <a href="javascript:void(0)" ng-click="move2Detail(disp_condition==2 ? 'U' : 'S', items_hash[id][subkey_prop_id])">
                <span class="fontsize-small">{{items_hash[id][subkey_prop_id]}}</span>:{{items_hash[id][subkey_prop_name]}}
              </a>
            </li>
          </ul>
        </ons-col>
      </ons-row>

      <ons-row ng-repeat="item in items" ng-show="disp_condition==0">
        <ons-col class="list-head">
          <a href="javascript:void(0)" ng-click="move2Detail('U', item.user_id)">
            <span class="fontsize-small">{{item.user_id}}</span>:{{item.user_name}}
          </a>
        </ons-col>
        <ons-col class="list-detail">
          <ons-col>
            <div class="">
              <a href="javascript:void(0)" ng-click="move2Detail('S', item.skill_id)">
                {{item.skill_name}}
              </a>
            </div>
          </ons-col>
        </ons-col>
      </ons-row>

    </div>

    <ons-button ng-show="type!=''" ng-click="myNavigator.popPage()">戻る</ons-button>

    <div class="alert" ng-show="message_info.show" ng-class="message_info.status" role="alert" data-dismiss="alert" style="position: absolute; top: 0; left: 0; width: 100%">
      {{message_info.message}}
    </div>

  </div>
</ons-page>
